<%
const {
  permalink, title, description, start, end, address, mentors, workers, sponsors
} = post;

const event = eventOf(title, description, start, end, address);
%>
<h2 class="flex-box" style="justify-content: space-between">
  活动简讯
  <a class="button is-link" download="<%= title %>.ics"
    href="<%= toDataURI(event + '', 'text/calendar') %>">
    添加日历
  </a>
</h2>
<ul>
  <li>时间：<%= full_date( start ) %> ~ <%= full_date( end ) %></li>
  <% if ( address ) { %>
    <li>地点：<%= address %></li>
  <% } %>
</ul><%
if ( address ) { %><%-
  partial('./marker_map', {
    markers: [{
      title, URL: permalink, address
    }]
  }) %><%
}

if (mentors || workers) { %><%-
  partial('./team', {
    keyMap:  {
      mentors:  '导师',
      workers:  '义工'
    },
    data:    site.data.volunteer,
    count:   false,
    post:    {mentors, workers}
  }) %><%
}

if ( sponsors ) { %><%-
  partial('./team', {
    keyMap: {
      sponsors: '赞助'
    },
    data:   sponsor_list(site.posts),
    count:  false,
    posts:  { sponsors }
  }) %><%
} %>
