<%
const {
  permalink, title, description, start, end, address, links, mentors, workers, partners
} = post;

const event = eventOf(title, description, start, end, address);
%>
<h2 class="flex-box" style="justify-content: space-between">
  活动简讯
  <span>
    <a class="button is-link" download="<%= title %>.ics"
      href="<%= toDataURI(event + '', 'text/calendar') %>">
      添加日历
    </a>
    <% for (let key in links) { %>
      <a class="button is-link" target="_blank" href="<%= links[key] %>">
        <%= key %>
      </a>
    <% } %>
  </span>
</h2>
<ul>
  <li>时间：<%= full_date( start ) %> ~ <%= full_date( end ) %></li>
  <% if ( address ) { %>
    <li>地点：<%= address %></li>
  <% } %>
</ul><%
if ( address ) { %><%-
  partial('./marker_map', {
    markers: [{
      title, URL: permalink, address
    }]
  }) %><%
}

if (mentors || workers) { %><%-
  partial('./team', {
    keyMap:  {
      mentors:  '导师',
      workers:  '义工'
    },
    data:    site.data.volunteer,
    count:   false,
    post:    {mentors, workers}
  }) %><%
}

if ( partners ) { %><%-
  partial('./team', {
    keyMap: {
      partners: '合作伙伴'
    },
    data:   partner_list(site.posts),
    count:  false,
    posts:  { partners }
  }) %><%
} %>
