<style>
  ol.flow-box {
    margin-left: 0;
  }
  ol.flow-box > li {
    margin: 0.25rem;
    position: relative;
  }
  ol.flow-box > li > a {
    display: block;
    position: relative;
  }
  ol.flow-box > li > a.count::before {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: red;
    color: white;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  ol.flow-box img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  ol.flow-box > li > .card {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    max-width: inherit;
    white-space: nowrap;
    text-align: left;
    display: none;
  }
  ol.flow-box > li .card-content {
    margin: 0 0 0 1rem;
  }
</style>

<ol class="flow-box">
  <% list.forEach(({name, title, URL, count, logo, posts}) => { %>
    <li>
      <a title="<%= name %>" href="<%= URL %>"
        class="has-text-centered <%= count ? 'count' : '' %>"
        data-count="<%= count %>">

        <img class="image has-mb-6" src="<%= logo %>">

        <div><%= title %></div>
      </a>

      <% if ( posts ) { %>
        <div class="card">
          <ol class="card-content">
            <% posts.forEach(({ title, path }) => { %>
              <li>
                <a href="<%= url_for(path) %>"><%= title %></a>
              </li>
            <% }) %>
          </ol>
        </div>
      <% } %>
    </li>
  <% }) %>
</ol>

<script>
  $( document.currentScript ).prev().on('mouseenter',  'li',  function () {

    $('.card', this).show('fast');

  }).on('mouseleave',  'li',  function () {

    $('.card', this).hide('fast');
  });
</script>
