<style>
  .flow-box > a {
    margin: 0.25rem;
    position: relative;
  }
  .flow-box > a.count::before {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: red;
    color: white;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  .flow-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
</style>

<div class="flow-box">
  <% list.forEach(({name, title, URL, count, logo}) => { %>
    <a title="<%= name %>" href="<%= URL %>"
      class="has-text-centered <%= count ? 'count' : '' %>"
      data-count="<%= count %>">
      <img class="image has-mb-6" src="<%= logo %>">
      <div><%= title %></div>
    </a>
  <% }) %>
</div>
