<style>
  .flex-box > a {
    position: relative;
  }
  .flex-box > a.count::before {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: red;
    color: white;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  .flex-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
</style>

<div class="flex-box has-text-centered">
  <% list.forEach(({title, URL, count, logo}) => { %>
    <a title="<%= title %>" href="<%= URL %>"
      class="<%= count ? 'count' : '' %>" data-count="<%= count %>">
      <img class="image has-mb-6" src="<%= logo %>">
      <p><%= title %></p>
    </a>
  <% }) %>
</div>
