<%
const { original, files, path, authors, photos } = post;

if ( original ) { %>
  <blockquote>
    <p>
      原文链接：<a target="_blank" href="<%= original %>">
        <%= original %>
      </a>
    </p>
  </blockquote><%
}

if ( files ) { %>
  <hr>
  <h2>资料下载</h2>
  <ol>
    <%- partial('./files', {path, files}) %>
  </ol><%
}

if ( authors ) { %>
  <div class="content">
  <%-
    partial('./team', {
      keyMap:  {
        authors:  '作者'
      },
      data:    site.data.volunteer,
      count:   false,
      post:    { authors }
    })
  %>
  </div><%
}

if ( photos[0] ) { %>
  <div class="content">
    <h3>精彩瞬间</h3>
    <%- partial('../widget/gallery', {posts: [post]}) %>
  </div><%
}
%>
